{
    "rootAPI": "/api/",
    "port": 5000,
    "secret" : "your_secret",
    "db": {
        "urlmongo": "mongodb://localhost:27017/bdd_name",
        "host": "localhost",
        "database": "database_name",
        "user": "root",
        "password": "",
        "options" : { 
            "server": { "socketOptions": { "keepAlive": 300000, "connectTimeoutMS": 30000 } }, 
            "replset": { "socketOptions": { "keepAlive": 300000, "connectTimeoutMS" : 30000 } } 
        } 
    },
    "errors-messages": {},
    "success-messages": {}
}
